#!/usr/bin/env nextflow



// pipeline input parameters                                                                                           

params {

    basic_cores = 5
	heavy_cores = 20
	heavier_cores = 30
	super_heavy_cores = 50
	mega_heavy_cores = 100

    folder_template = "${projectDir}/.."
    sample_type = ""

    custom = 0
	//extended_annotation = "/scicore/home/zavolan/moon0000/CATALOG_CLEAN/data/${params.sample_type}/enriched_annotation.gtf"
    //extended_annotation = "/scicore/home/zavolan/moon0000/CATALOG_CLEAN/data/${params.sample_type}/genome.fa"

    //extended_annotation = "/scicore/home/zavolan/GROUP/Genomes/homo_sapiens/hg38_v42/enriched.gencode.v42.annotation.gtf"
    //extended_annotation = "/scicore/home/zavolan/GROUP/Genomes/homo_sapiens/hg38_v42/gencode.v42.annotation.gtf"
    extended_annotation = "${folder_template}/data/${params.sample_type}/genes.gtf"

	genome_fasta = "${folder_template}/data/${params.sample_type}/genome.fa"
    catalog = "${folder_template}/data/${params.sample_type}/catalog_input.csv"
    file_list = "${folder_template}/data/${params.sample_type}/file_names_modified.csv"
    modified_cs_list = "${folder_template}/data/${params.sample_type}/modified_cs_list_all_combinations.csv"
    
	//nohup nextflow run main.nf -profile slurm -resume --sample_type "human"
    genes_bed_out = "filtered_genes.bed"
	exons_bed_out = "filtered_exons.bed"
	terminal_exons_out = "terminal_exons.bed"

    change_to_bed_script = "${projectDir}/change_to_bed.py"

    find_exons_genes_script = "${projectDir}/get_exons_genes_alter_nextflow.py"
	find_terminal_exons_script = "${projectDir}/find_terminal_exons_alter_nextflow.py"

	get_intronic_script = "${projectDir}/get_intronic_bed_nextflow.py"
	introns_out = "introns.bed"

    intergenic_all_samples = "polyA_intergenic_all_samples"
	all_genic_all_samples = "all_genic_all_samples"

	all_exonic_all_samples = "all_exonic_all_samples"
	intronic_all_samples = "polyA_intronic_all_samples"

	exonic_all_samples = "polyA_exonic_all_samples"
	te_all_samples = "polyA_TE_all_samples"
	
	true_intergenic_all_samples = "polyA_true_intergenic_all_samples"
	all_antisense_genic_all_samples = "all_antisense_genic_all_samples"

	antisense_intronic_all_samples = "polyA_antisense_intronic_all_samples"
	all_antisense_exonic_all_samples = "all_antisense_exonic_all_samples"

	antisense_exonic_all_samples = "polyA_antisense_exonic_all_samples"
	antisense_te_all_samples = "polyA_antisense_TE_all_samples"

 	add_class_column_script = "${projectDir}/add_class_column.py"
	add_class_col_out = "AdditionalColAllsamples_polyA_cluster_out"
	
	merge_add_col_bed = "merged_additional_col_PAS.bed"   
	/////////////////////////////////////////////////////////////////////////
	////////////////////////Assign gene name to PAS ////////////////////////

	gene_id_alter_nextflow_script = "${projectDir}/gene_id_alter_nextflow.py"
	gene_id_pas_out = "pas_w_gene_id"

	/////////////////////////////////////////////////////////////////////////
	//////////////////////////// Group PAS by organs ///////////////////////
    modified_unique_cs = "all_samples_modified_unique_cs"
	organ_specific_cs_out = "organ_specific_modified_cs" 
	organ_specific_pas_out = "filtered_organ_specific_PAS"
	pas_split_by_organ_script = "${projectDir}/left_join_nextflow.py"

	/////////////////////////////////////////////////////////////////////////
	/////////////////////////// Organ specific score ///////////////////////
	organ_score = "organ_score.bed"
    organ_score_script = "${projectDir}/organ_score.py"

	merge_pas_organ_score = "w_organ_score.bed"
    merge_pas_organ_score_script = "${projectDir}/merge_pas_organ_score.py"    

    /////////////////////////////////////////////////////////////////
	/////////////////////////// Motif Search ///////////////////////

	rcs_motif_check_script = "${projectDir}/rcs_motif_check.py"
	rcs_motif_check_out = "w_organ_score_w_motif.bed"
	rcs_motif_check_out_for_no_organs = "w_motif.bed"

	motif_dir = "${projectDir}/motif_info_2.csv"

    /////////////////////////////////////////////////////////////////
	/////////////////////////// filter_genes ///////////////////////

    further_filtered_genes_out = "further_filtered_genes.bed"
    furhter_filter_genes_script = "${projectDir}/filter_duplicate_genes.py" 

    /////////////////////////////////////////////////////////////////
	/////////////////////////// Non overlapping ///////////////////////
    non_overlapping_genes = "non_overlapping_genes"
    non_overlap_script = "${projectDir}/get_non_overlap4.py"

    change_to_bed2_script = "${projectDir}/change_to_bed2.py"

    merge_all_df_script = "${projectDir}/merge_all_df.py"
    merge_all_df_out = "merged"
    
    overlapping_genes = "merged_overlapping_genes.bed"
    overlapping_with_nonoverlapping_regions_out = "pas_in_nonoverlapping_regions"
    non_overlapping_with_nonoverlapping_regions_out = "pas_non_overlapping_with_nonoverlapping_regions"
    
    overlapping_with_overlapping_regions_out = "pas_in_overlapping_regions"
    non_overapping_with_overlapping_regions_out = "pas_in_intergenic_regions"
    
    assign_overlap_out = "pas_assigned_with_overlap.bed"
    assign_overlap_script = "${projectDir}/assign_overlap.py"

    /////////////////////////////////////////////////////////////////
	/////////////////////////// reclassification ////////////////////

    get_intergenic_gene_script = "${projectDir}/get_intergenic_gene.py"
    get_intergenic_gene_out = "intergenic_pas_w_geneid.bed"
    //to get fast result
    intergenic_pas = "/scicore/home/zavolan/moon0000/SCINPAS_ANALYSIS_enriched/result_wrong/${params.sample_type}/reassign/intergenic_pas_w_geneid.bed"

    reassign_gene_script = "${projectDir}/reassign_gene_final.py"
    reassign_gene_out = "reassigned_gene_pas"
    
    reassign_class_script = "${projectDir}/reassign_class.py"
    reassign_class_out = "reassigned_gene_class_pas"

    merge_again_script = "${projectDir}/merge_again.py"
    merge_again_out = "total_reassigned_gene_class_pas.bed"

    /////////////////////////////////////////////////////////////////
	/////////////////////////// filter PAS /////////////////////////

    compute_usage_script = "${projectDir}/compute_pas_usage.py"
    compute_usage_out = "pas_usage"

    filter_pas_script = "${projectDir}/filter_pas_by_usage_alter.py"
    filter_pas_out = "FiltereD_pas_by_usage.bed"

    make_full_table_script = "${projectDir}/make_full_table.py"
    make_full_out = "make_full_table.bed"
}   

//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// profiles /////////////////////////////////////////////

profiles {
	slurm{
		process.executor = "slurm"
		singularity.enabled = true
		singularity.autoMounts = true
	}

	singularity{
		singularity.enabled = true
		singularity.autoMounts = true
	}

	docker{
		docker.enabled = true
	}
}

//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// process /////////////////////////////////////////////

process {
	//before memory = 80.GB and cpus = 40
    memory = 5.GB
    cpus = params.basic_cores
    time = "2h"
    
    withLabel: "gcc" {
        container = "gcc:latest"
    }

    withLabel: "bash" {
        container = "debian:stable-slim"
    }

    withLabel: "samtools" {
        // this converts from docker to singularity automatically by nextflow
        // original command is: docker pull zavolab/samtools:1.8
        // container = "docker://zavolab/samtools:1.8"
        // container = "biocontainers/samtools:v1.9-4-deb_cv1"
		container = "docker://staphb/samtools:1.15"
    }

    withLabel: "bedtools" {
        container = "biocontainers/bedtools:v2.27.1dfsg-4-deb_cv1"
    }

    withLabel: "bedops" {
        container = "docker://autamus/bedops:latest"
    }

    withLabel: "custom_python" {
        //currently just  python 3.9.12 . It needs to be extended to contain all dependencies based on python 3.9.12
        //container = "docker://zavolab/polcat_python:v1.0.7"
		container = "docker://zavolab/scinpas_python:v1.0.9"
    }

	withLabel: "fastqc" {
		container = "docker://staphb/fastqc:0.12.1"
	}

    withLabel: "feature_count" {
        container = "docker://pegi3s/feature-counts"
    }

    withLabel: "seqtk" {
        container = "docker://staphb/seqtk"
    }

    withLabel: "seqkit" {
        container = "docker://staphb/seqkit:2.8.0"
    }

    withLabel: "middle_memory" {
        memory = 80.GB
		time = "6h"
    }

    withLabel: "heavy_memory" {
        memory = 200.GB
		time = "6h"
    }

    withLabel: "super_heavy_memory" {
        memory = 250.GB
		time = "6h"
    }

    withLabel: "heavy_computation" {
        memory = 120.GB
        cpus = params.heavy_cores
		clusterOptions = "--time=12:00:00 --qos=1day"
		//time = "6h"
    }

    withLabel: "super_heavy_computation" {
        memory = 190.GB
        cpus = params.super_heavy_cores
		clusterOptions = "--time=24:00:00 --qos=1day"
    }

	withLabel: "short_time" {
	time = "6h"
    }

	withLabel: "middle_time" {
	clusterOptions = "--time=12:00:00 --qos=1day"
    }

	withLabel: "long_time" {
	clusterOptions = "--time=24:00:00 --qos=1day"
    }
	
	withLabel: "very_long_time" {
	clusterOptions = "--time=48:00:00 --qos=1week"
    }
}
