#!/usr/bin/env nextflow



// pipeline input parameters                                                                                           

params {

	//////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////// commandline /////////////////////////////////////////////	

	// workflow has 2 folds. You need to run the workflow twice.

	// 1st workflow occurrence (to enable manual filtering of samples by % uniquely mapped reads and sequence quality threshold)
	// nohup nextflow run main.nf -profile slurm -resume --sample_type "human" --check "yes"
	// From this 1st workflow: 
	// 1. check whether % uniquely mapped reads are high enough and do 1st filtering of samples with low %
	// This generates output "sample_organ_first_filtered.csv"
	// 2. check sequence quality is high enough to do 2nd filtering of samples with low sequence quality
	// This generates output "sample_organ_second_filtered.csv"

	// 2nd workflow occurrence (to run the whole workflow and generate catalog)
	// This uses "sample_organ_second_filtered.csv" from the 1st workflow (do not change the output name of this) as an input
	// run the following command, if you think manual filtering from the 1st workflow makes sense
	// nohup nextflow run main.nf -profile slurm -resume --sample_type "human" --check "no"

	//////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////// VARIABLES /////////////////////////////////////////////	
	
	// initialized empty but it will be overwritten by the nextflow command. (Priority always given to the input command line)
	// i.e. nextflow run main.nf -profile slurm -resume --sample_type "mouse"
	sample_type = ""
	check = ""

	// related to manual filtering of samples. (related to "check" parameter)
	// change the threshold here. After deciding the threshold, re-run the workflow with --check "no"
	seq_qual_threshold = 35

	// ${projectDir} == (where your main.nf script is located)
	// .. means go one directory up	
	folder_template = "${projectDir}/.."	
	version = "v1.0.4.new"

	// use custom annotation or not
	custom = 0

	// use fixed cleavage site
	use_fc = 1

	basic_cores = 5
	middle_cores = 12
	heavy_cores = 20
	heavier_cores = 30
	super_heavy_cores = 50
	mega_heavy_cores = 100

	//////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////// Common Input /////////////////////////////////////////////	
	extended_annotation = "${folder_template}/data/${params.sample_type}/enriched_annotation.gtf"
	genome_fasta = "${folder_template}/data/${params.sample_type}/genome.fa"

	// samples we have, which organs do we cover
	samples_list = "${folder_template}/data/${params.sample_type}/sample_organ_total_subset.csv"

	// samples filtered by % uniquely mapped reads (dont change the name)
	filtered_samples_list = "${params.folder_template}/result/${params.sample_type}/${params.version}/fastQC_swarm/sample_organ_second_filtered.csv"
	//////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////// MOUSE DATA /////////////////////////////////////////////	
	mouse_chromosomes = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19, "X", "Y"]

	//////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////// HUMAN DATA /////////////////////////////////////////////	
	human_chromosomes = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,"X","Y"]
	
	//////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////// WORM DATA /////////////////////////////////////////////	
	worm_chromosomes = ["I", "II", "III", "IV", "V", "X"]
	
	//////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////////// common /////////////////////////////////////////////
	
    genes_bed_out = "filtered_genes.bed"
	exons_bed_out = "filtered_exons.bed"
	terminal_exons_out = "terminal_exons.bed"

    find_exons_genes_script = "${projectDir}/get_exons_genes_alter_nextflow.py"
	find_terminal_exons_script = "${projectDir}/find_terminal_exons_alter_nextflow.py"

	//////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////// trimming_and_deduplication ////////////////////////////

	mapped_unmapped = "num_mapped_unmapped_reads_all_samples"
	first_filtered_samples_out = "sample_organ_first_filtered.csv"
	merge_mapped_unmapped_script = "${projectDir}/get_merge_num_mapped_unmapped_nextflow.py"

	dedup_out_name_prefix = "deduplicated_chr"
	split_out_name_prefix = "splitted_chr"
	span_threshold = 5
	dedup_script = "${projectDir}/dedup_nextflow.PY"

	swarm_script = "${projectDir}/fastqc_swarm_nextflow.py"
	swarm_plot_out = "median_of_median_sequence_quality_swarm_polt.png"
	sequence_quality_csv = "median_of_median_sequence_quality"
	second_filtered_samples_out = "sample_organ_second_filtered.csv"

	fix_softclipped_alter_script = "${projectDir}/fix_softclipped_final_nextflow.py"
	bam_after_fixation_alter = "fixed_dedup"

	//////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////// get_polyA //////////////////////////////////////////////
	getPolyA_catalog_script = "${projectDir}/get_polyA_reads_final_advanced2_nextflow.py"
	out_polyA = "all_polyAFull"
	out_non_polyA = "non_polyAFull"

	// threshold to be polyA
	// percentage threshold of "A" in the softclipped region
	polyA_percentage_threshold = 80
	// length threshold of the softclipped region.
    length_threshold = 5

	counts_polyA = "counts_polyA.csv"
	polyA_type = "PATR"
	get_count_script = "${projectDir}/get_count_alter_nextflow.py"
	
	out_polyA_partial = "all_polyAPartial"

	//////////////////////////////////////////////////////////////////////////////////////
	//////////////////////////// get_unique_cleavage_site ////////////////////////////////
	get_polyA_unique_cs_script = "${projectDir}/get_polyA_unique_cs_nextflow.py"
	polyA_unique_cs_bed_sample = "all_polyA_cs_sample.bed"

	split_by_direction_script = "${projectDir}/split_by_direction_nextflow.py"

	grouped_by_out = "all_samples_grouped_unique_cs"
	grouped_by_script = "${projectDir}/groupby_beds_alter_nextflow.py"

	/////////////////////////////////////////////////////////////////////////
	//////////////////////////// Clustering ////////////////////////////////
	all_samples_cluster_out = "Allsamples_polyA_cluster_out"
	modified_unique_cs = "all_samples_modified_unique_cs"
	cluster_pas_alter_script = "${projectDir}/cluster_pas_alter_nextflow.py"

	cluter_up = 25
	cluster_down = 25

	/////////////////////////////////////////////////////////////////////////
	//////////////////////////// Classification of PAS /////////////////////
	get_intronic_script = "${projectDir}/get_intronic_bed_nextflow.py"
	introns_out = "introns.bed"

	change_to_bed_script = "${projectDir}/change_to_bed.py"

	intergenic_all_samples = "polyA_intergenic_all_samples"
	all_genic_all_samples = "all_genic_all_samples"

	all_exonic_all_samples = "all_exonic_all_samples"
	intronic_all_samples = "polyA_intronic_all_samples"

	exonic_all_samples = "polyA_exonic_all_samples"
	te_all_samples = "polyA_TE_all_samples"
	
	true_intergenic_all_samples = "polyA_true_intergenic_all_samples"
	all_antisense_genic_all_samples = "all_antisense_genic_all_samples"

	antisense_intronic_all_samples = "polyA_antisense_intronic_all_samples"
	all_antisense_exonic_all_samples = "all_antisense_exonic_all_samples"

	antisense_exonic_all_samples = "polyA_antisense_exonic_all_samples"
	antisense_te_all_samples = "polyA_antisense_TE_all_samples"

	add_class_column_script = "${projectDir}/add_class_column.py"
	add_class_col_out = "AdditionalColAllsamples_polyA_cluster_out"
	
	merge_add_col_bed = "merged_additional_col_PAS.bed"

	/////////////////////////////////////////////////////////////////////////
	////////////////////////Assign gene name to PAS ////////////////////////

	gene_id_alter_nextflow_script = "${projectDir}/gene_id_alter_nextflow.py"
	gene_id_pas_out = "pas_w_gene_id"

	/////////////////////////////////////////////////////////////////////////
	//////////////////////////// Group PAS by organs ///////////////////////
	organ_specific_cs_out = "organ_specific_modified_cs" 
	organ_specific_pas_out = "filtered_organ_specific_PAS"
	pas_split_by_organ_script = "${projectDir}/left_join_nextflow.py"

	/////////////////////////////////////////////////////////////////////////
	/////////////////////////// Organ specific score ///////////////////////
	organ_score = "organ_score.bed"
    organ_score_script = "${projectDir}/organ_score.py"

	merge_pas_organ_score = "w_organ_score.bed"
    merge_pas_organ_score_script = "${projectDir}/merge_pas_organ_score.py"

	/////////////////////////////////////////////////////////////////
	/////////////////////////// Motif Search ///////////////////////

	rcs_motif_check_script = "${projectDir}/rcs_motif_check.py"
	rcs_motif_check_out = "w_organ_score_w_motif.bed"
	rcs_motif_check_out_for_no_organs = "w_motif.bed"

	motif_dir = "${projectDir}/motif_info_2.csv"
}
//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// profiles ///////////////////////////////////////////

profiles {
	slurm{
		process.executor = "slurm"
		singularity.enabled = true
		singularity.autoMounts = true
	}

	singularity{
		singularity.enabled = true
		singularity.autoMounts = true
	}

	docker{
		docker.enabled = true
	}
}

//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////// process /////////////////////////////////////////////

process {
	//before memory = 80.GB and cpus = 40
    memory = 5.GB
    cpus = params.basic_cores
    time = "2h"
    
    withLabel: "gcc" {
        container = "gcc:latest"
    }

    withLabel: "bash" {
        container = "debian:stable-slim"
    }

    withLabel: "samtools" {
        // this converts from docker to singularity automatically by nextflow
        // original command is: docker pull zavolab/samtools:1.8
        // container = "docker://zavolab/samtools:1.8"
        // container = "biocontainers/samtools:v1.9-4-deb_cv1"
		container = "docker://staphb/samtools:1.15"
    }

    withLabel: "bedtools" {
        container = "biocontainers/bedtools:v2.27.1dfsg-4-deb_cv1"
    }

    withLabel: "custom_python" {
        //currently just  python 3.9.12 . It needs to be extended to contain all dependencies based on python 3.9.12
        //container = "docker://zavolab/polcat_python:v1.0.7"
		container = "docker://zavolab/scinpas_python:v1.0.9"
    }

	withLabel: "fastqc" {
		container = "docker://staphb/fastqc:0.12.1"
	}

    withLabel: "feature_count" {
        container = "docker://pegi3s/feature-counts"
    }

    withLabel: "middle_memory" {
        memory = 80.GB
		time = "6h"
    }

    withLabel: "heavy_memory" {
        memory = 200.GB
		time = "6h"
    }

    withLabel: "super_heavy_memory" {
        memory = 250.GB
		time = "6h"
    }

    withLabel: "heavy_computation" {
        memory = 120.GB
        cpus = params.heavy_cores
		clusterOptions = "--time=12:00:00 --qos=1day"
		//time = "6h"
    }

    withLabel: "super_heavy_computation" {
        memory = 190.GB
        cpus = params.super_heavy_cores
		clusterOptions = "--time=24:00:00 --qos=1day"
    }

	withLabel: "short_time" {
	time = "6h"
    }

	withLabel: "middle_time" {
	clusterOptions = "--time=12:00:00 --qos=1day"
    }

	withLabel: "long_time" {
	clusterOptions = "--time=24:00:00 --qos=1day"
    }
	
	withLabel: "very_long_time" {
	clusterOptions = "--time=168:00:00 --qos=1week"
    }
}
